@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light: #afafaf;

  --accent-green: #369A77;
  --accent-green-light: #AAD2C4;
  --accent-green-lighter: #D6F2E8;
  --accent-green-extralight: #EFFAF6;
  --accent-green-bg: #E4Ede9;
  --accent-green-dark: #1D362E;

  --accent-purple: #5E7FD5;
  --accent-purple-light: #92A1E5;
  --accent-purple-lighter: #D9E4FF;
  --accent-purple-extralight: #e9effc;
  --accent-purple-bg: #E6E4ED;
  --accent-purple-dark: #373D5C;

  --font-primary: 'Outfit', sans-serif;
  --font-secondary: 'Nunito', Helvetica;
  --font-tertiary: 'Antipasto Pro', sans-serif;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', Helvetica, sans-serif;
}

.tab {
  padding: .5rem 2rem;
  border: 1.5px solid transparent;
  border-radius: 0.5rem;
  transition: all .1s ease-in;
}

.tab:hover {
  border-color: var(--accent-green-light);
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.input {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  border-radius: 10px;
}

.input input, textarea{
  background: transparent;
  width: 100%;
}

.input input:focus, textarea:focus {
  outline: none;
}

.input-green {
  background-color: var(--accent-green-lighter);
}

.input-green input::placeholder {
  color: var(--accent-green-dark);
  opacity: 50%;
}

.input-purple {
  background-color: var(--accent-purple-lighter);
}

.input-purple input::placeholder{
  color: var(--accent-purple-dark);
  opacity: 50%;
}

.input:has(input:disabled), .input:has(textarea:disabled) {
  background-color: #a8abc4;
  color: var(--accent-purple-dark);
  opacity: 50%;
}

.button-green {
  background-color: var(--accent-green);
  color: white;
  padding: .5rem 0;
  border-radius: 8px;
}

.gradient-text {
  background: linear-gradient(90deg, #5E7FD5 18.69%, #369A77 101.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(101deg, #D6F2E8 29.85%, #D9E4FF 92.11%);
}

.drop-sh {
  box-shadow: 0px 1.678px 8.389px 1.678px rgba(39, 90, 72, 0.24);
}

.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none; 
  }
}

input[type="radio"] {
  display: none;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.radio span {
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

.radio input:checked + span::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.radio-green input:checked + span {
  border-color: var(--accent-green);
}

.radio-green input:checked + span::after {
  background-color: var(--accent-green);
}

.radio-purple input:checked + span {
  border-color: var(--accent-purple);
}

.radio-purple input:checked + span::after {
  background-color: var(--accent-purple);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}